cmake
ninja
pybind11
tqdm
plyfile
dahuffman
icecream
matplotlib
tensorboard
cupy-cuda13x
git+https://github.com/NVlabs/tiny-cuda-nn/#subdirectory=bindings/torch
--extra-index-url https://pypi.nvidia.com
cudf-cu13
cuml-cu13
submodules/simple-knn
submodules/diff-gaussian-rasterization
submodules/diff-gaussian-rasterization_ms
submodules/diff-gaussian-rasterization_msori
